mixin formSettingsContainer(formSettings, formName, formId)
    div.settingsContainer
        div.title Form Name:
        div.nameOfForm
            input(type="text", id="nameOfTheFormInput", placeholder="Name of Form", value=formSettings.nameOfForm)
            div(style="display: flex; align-items: center; margin-left: 10px;flex-direction: column;")
                div 
                    span Image upload wanted in form ?
                    input(type="checkbox", checked=formSettings.imageUploadWantedInForm id="imageUploadWantedInFormInput")
                div
                    if formSettings.isFormClosed
                        span Form is closed&nbsp;
                    else
                        span Form is open&nbsp;
                    input(type="checkbox",onchange="toggleCloseForm(this)", checked=formSettings.isFormClosed id="isFormClosedInput")
                div 
                    span Send email to user after submitting ? 
                    input(type="checkbox", checked=formSettings.sendEmailToUserAfterSubmitting id="sendEmailToUserAfterSubmittingInput")
                div 
                    span Attach PDF to email ? 
                    input(type="checkbox", checked=formSettings.sendPDFInEmail id="sendPDFInEmailInput")
                div
                    span Allow to change responses after submitting ? 
                    input(type="checkbox", checked=formSettings.allowToChangeResponsesAfterSubmitting id="allowToChangeResponsesAfterSubmittingInput")
        div.title Form Introduction:
        div.formIntroduction
            textarea(oninput="autoResize(this)" id="formIntroductionTextArea", placeholder="Form Introduction") #{formSettings.formIntroduction}
        div.title Text next to image upload:
        div.textNextToImage
            input(id="textNextToImageInput", type="text", placeholder="Text next to image upload", value=formSettings.textNextToImage)
        div.title Form End Text:
        div.formEndText
            input(id="formEndTextInput", type="text", placeholder="Form End Text", value=formSettings.formEndText)
        div.title PDF Header: (put quotes around the text if it is not a id of an question, separate by typing " + ")
            div
                span For ex. "Name:" + " " + firstName + " " + lastName
        div.pdfHeader
                input(type="text", value=formSettings.pdfHeader id="pdfHeaderInput")
        div.emailAllowed
            div.title Email Addresses Allowed: 
                div(style="font-size:17px;") (for ex. @gmail.com), 
                div(style="font-size:17px;") (* means all emails allowed)
            div.emailAllowedInput
                input(type="text", value=formSettings.emailAllowed id="emailAllowedInput")
        div.titleOfEmail
            div.title Title of Email (for ex. Thank you for submitting):
            div.titleOfEmailInput
                input(type="text", value=formSettings.titleOfEmail id="titleOfEmailInput")
        div.emailText
            div.title Email Text:
            div.emailTextInput
                textarea(oninput="autoResize(this)" id="emailTextInput", placeholder="Email Text") #{formSettings.emailText}
        div.themeDivider
            div.themeHeader(onclick="toggleThemeOptions()")
                div(style="display: flex; align-items: center;")
                    i.fas.fa-palette
                    h4 Theme
                i.fas.fa-caret-down
            div.themeOptions(style="display: none;")
                div.formNameColor.themeOption
                    span Form Name Color:
                    input(value=formSettings.theme.formNameColor, type="color")
                div.formIntroductionColor.themeOption
                    span Form Intro and Questions Color:
                    input(type="color", value=formSettings.theme.formIntroductionColor)
                div.answerColor.themeOption
                    span Answer Color:
                    input(type="color", value=formSettings.theme.answerColor)
                div.questionBackgroundColor.themeOption
                    span Question Background Color:
                    input(type="color", value=formSettings.theme.questionBackgroundColor)
                div.formBackgroundColor.themeOption
                    span Form Background Color:
                    input(type="color", value=formSettings.theme.formBackgroundColor)
                div.backgroundColor.themeOption
                    span Background Color:
                    input(type="color", value=formSettings.theme.backgroundColor)
                div.formEndTextColor.themeOption
                    span Form End Text Color:
                    input(type="color", value=formSettings.theme.formEndTextColor)
        div.pdfImage
            div Logo to display on PDF:
            input(type="file", id="pdfImageInput" accept="image/*")
            div.imageDisplayed
                img(src=`/test/serveLogoImage/${formName}/${formId}`, alt="Logo to display on PDF")
