html 
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style 
            include css/pdf.css
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet")
        
        body 
            main
                div.pdf
                    div.pdfHeader
                        h1.name #{userForm.firstName} #{userForm.lastName}
                        img.schoolLogo(src="/publicImages/schoolLogo.png")
                    div.corePartOfPdf
                        div.writing
                            div.imageContainer
                                img.userPhoto(src=imageURL)
                            div.questions
                                
                        div.quickInfo
                            
            script
                include js/pdf.js   
            script. 
                var userForm = !{JSON.stringify(userForm).replace(/<\//g, '<\\/')}
                var formOptions = !{JSON.stringify(formOptions).replace(/<\//g, '<\\/')}
                makeItemsToPutInPdf(formOptions)
                generatePdfHTML(userForm, formOptions)
